{{> head }}

    {{> partial1 }}
    
    <p>{{ text1 }}</p>
    <div id="test"></div>

    <span><b>HBS Helpers</b> -> {{ hbs_helper_getCommonValue1 }} - {{ hbs_helper_transform 'demo' }}</span>
    
    <hr>
    <a href="/page">Next</div>

{{> foot }}
